@media screen and (min-width: 851px) {

    /*Header*/
    .address ul {
        display: inline-block;
    }

    /*Navigation Menu*/
    .navigation {
        text-align: center;
        width: 100%;
    }

    .navigation>li:first-child {
        display: none;
    }

    .navigation li {
        display: inline-block;
        margin: 0 auto;
    }

    .navigation li a {
        color: #22333b;
    
    }
    #nav ul ul {
        margin-left: 0;
        margin-top:0;
        
    }
    #nav ul ul :hover {
        display: inline-block;
    }
    #nav ul ul :hover li {
        display: inline-block;
    }
    #nav ul ul li a, visited {
        display: inline-block;
    }
    a.hamburger {
        display: none;
    }

   

    /*Main*/

    .maindiv {
        display: grid;
        grid-gap: 10px;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        border-collapse: collapse;

    }

    .calltoaction {
        display: block;
        margin: auto;
        border: none;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .welcomearticlediv p {

        max-width: 450px;
        padding: 1em;
        margin: auto;
    }

    .welcomeimgdiv figure {
        margin: auto;
        
    }

    .welcomeimgdiv {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: auto;
        

    }

    .welcomearticlediv {

        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: auto;
    }

    .welcomeimgdiv img {

        padding: 0;
        margin: auto;
        min-width: 300px;


    }

     .amenitydiv ul li {
        text-align: center;
        list-style-type: none;
    }
    /*Services Page*/
    .services {
        display: grid;
    }
    .services h3 {
        text-align: left;
    }
    .servicedesc {
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 1em .5em 1em 1em;  
    }
    .serviceimg {
        grid-column-start: 3;
        grid-column-end: 4;       
        margin: 1em 1em 1em .5em;
    }
    .serviceimg img {
        width: 100%;
        box-shadow:0 0 5px #0a0908;
    }
    
    /*Aside*/
    .asideaddressdiv {
        display: inline-block;
    }
    /*Reservations Page - Large View*/

    .formdiv {
        text-align: left;
        margin-left: 1em;
    }
    
    .resdiv {
        display: block;
        float: right;
    }
   .resdiv img {
       margin-bottom: 2em;
   }
   
    /*Receptions Page*/
    .pkgdiv {
        width: 27%;
        
    } 
    .rechero  {
        display: inline-block;
        margin-top: 1em;
        text-align: justify;
        font-size: 1.15em;
        color: #0a0908;
    }
    .flexrecimg {
        display: flex;
    }
    .recaction {
        display: grid;
        text-align: center;
        padding: 1em;
       
    }
    .recaction img {
        display: block;
        max-width: 400px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
       
        margin: 0 1em;
    }
    .recaction form {
        display: block;
       
        max-width: 350px;
        text-align: left;
        margin: 0 1em;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
       
    }
    .flexrecimg {
        display: block;
    }
    .flexrecimg img {
        width:100%;
    }
    .flexrecimg p {
        text-align: justify;
        width: 100%;
        margin: 1em 0 1em 2em;
        max-width: 368px;
    }

}