@media screen and (min-width: 550px) and (max-width: 850px) {

    /*Header*/
    .address ul {
        display: inline-block;
    }

    .maindiv {
        display: grid;
        grid-gap: 10px;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;

    }

    .calltoaction {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 0 1em;
        border: none;
    }

    .welcomearticlediv p {
        padding-top: 0;
        padding-bottom: 1em;
    }

    .welcomeimgdiv figure {
        margin-left: 0;
    }

    .welcomeimgdiv {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
        display: inline;
        margin: auto 0;
        padding: 0 1em;

    }

    .welcomearticlediv {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        margin: auto 0;
        padding: 0 1em;

    }

    .welcomeimgdiv img {
        display: block;
        width: 100%;
    }

    .amenitydiv ul li {
        text-align: center;
        list-style-type: none;
    }

    /*Serives Page*/
    .serviceimg img {
        width: 100%;
        box-shadow:0 0 5px #0a0908;
    }
    .recpic {
        width:50%;
        float: left;
       
    }
    .misspic {
        width: 50%;
        float: right;
       
    }
    .amdiv, .servdiv {
        display: none;
    }
}