* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

/*General Styling*/
body {
    background-color: #eae0d5;
    font-family: 'Assistant', sans-serif;
    width: 100%;
    margin: 0 auto;

}

header,
footer,
aside {
    width: 100%;
    margin: 0 auto;
}

nav,
main {
    max-width: 950px;
    margin: 0 auto;
}

h1 {
    font-family: 'Cormorant Upright', serif;
    color: #22333b;
    font-size: 2rem;
    line-height: 1.5;
    margin: .35em 0 0;


}

h3,
h4 {
    font-family: 'Cormorant Upright', serif;
    color: #22333b;
    line-height: 1.5;
    text-align: center;
    padding-top: .25em;
    padding-bottom: .25rem;
    font-weight: bolder;
    font-size: 1.5em;

}

h4 {
    white-space: nowrap;
}

h2 {
    color: #22333b;
    text-align: center;
    font-size: 2em;
    padding-top: .25em;
    padding-bottom: .25rem;
    line-height: 1.5;
    font-family: 'Cormorant Upright', serif;
}

/*****Nav Menu*****/
nav {
    background-color: #eae0d5;
    font-size: 1.25em;
    font-family: 'Assistant', sans-serif;

}

#active {
    background-color: #5e503f;
    color: #eae0d5 !important;
}

.navigation {
    max-width: 960px;
    text-align: left;
}

.navigation>li:first-child {
    display: inline-block;
}

.navigation>li {
    display: none;
}

.responsive li {
    display: block;
}

.navigation>li :hover {
    display: block;
    background-color: #dbbf9f;
}

#nav ul {
    position: relative;
}

#nav ul li a,
visited {
    color: #22333b;
    display: block;
    padding: 15px;
    text-decoration: none;

}

#nav ul li a :hover {
    color: #22333b;
    text-decoration: none;
}

#nav ul li :hover a {
    background-color: #dbbf9f
}

#nav ul li:hover ul {
    display: block;
}

#nav ul ul {
    display: none;
    position: absolute;
    min-width: 200px;
    background-color: #dbbf9f;
    margin-left: 6em;
    margin-top: -48px;
}

#nav ul ul li a,
visited {
    background-color: #dbbf9f;
}

#nav ul ul li :hover {
    background-color: #b4946d;
    color: #22333b;
}

/*****Header*****/
header {

    width: 100%;
    background-color: #c6ac8f;
    border: 1px solid #eae0d5;
    color: #22333b;
    font-size: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.headerbox1 {
    margin-right: .5em;
    align-self: center;
}

.headerbox2 {
    margin-left: .5em;
    align-self: center;

}

.address ul {
    display: none;
}

.hamburger {
    color: #eae0d5;
}

/**Body**/
.maindiv {

    background-color: #eae0d5;
    color: #22333b;
    font-size: 1em;
    display: grid;
    width: 100%;
    grid-template-rows: repeat(auto 1fr);
    grid-template-columns: auto;


}


/*Call To Action*/
.calltoaction {
    border: 1px solid #22333b;
    border-radius: 10px;
    min-width: 250px;
    max-width: 400px;
    margin: 0 auto 1em;
    display: inline-block;
    border-collapse: collapse;
    grid-row-start: 1;
    grid-row-end: 2;
}

.calltoaction fieldset {
    border: none;
    padding-bottom: 0;
}

form legend {
    margin: 0 .5em;
    font-family: 'Cormorant Upright', serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #22333b;
    text-align: center;
    margin: .25em 0;
    padding: 1rem 1rem 0;

}

.homeform form label {
    display: block;
    padding-bottom: 1rem;
    color: #22333b;
    font-size: .8rem;
    font-family: 'Assistant', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.homeform form label input,
.homeform form select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid #999;
    padding: .1em .75rem;
    color: #22333b;
    width: 100%;
    font-family: 'Assistant', sans-serif;
    margin: .25em 0;
    line-height: 2.5em;
}

.submitdiv .submit {
    display: block;
    width: 100%;
    border: none;
    background-color: #22333b;
    color: #eae0d5;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 auto 1em;
    max-width: 12em;
    border-style: outset;

}

form .submitdiv {
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: 211px;
    display: inline-block;

}

/*Welcome*/
.welcomearticlediv {
    grid-row-start: 3;
    grid-row-end: 4;
    margin: .5em auto;
    display: block;
    width: 100%;
}

.welcomearticlediv p {
    display: block;
    width: 100%;
    margin: auto;
    padding: 0 1em .5em;
}

.welcomeimgdiv {
    grid-row-start: 2;
    grid-row-end: 3;
    display: inline-block;
    margin: .5em auto;
    width: 100%;
    display: block;
    padding: 0 1em .5em;

}

.welcomeimgdiv img {
    max-width: 350px;
    width: 100%;
    box-shadow: 0 0 5px #0a0908;
    display: block;
    margin: auto;

}

.welcomeimgdiv figure {
    width: 100%;
}

/*Amenity*/
.amenitydiv {
    border-top: 1px solid #5e503f;
    margin: 0 auto 1em;
}

.amenitydiv ul {
    padding: 0 1em;
}

.amenitydiv ul li {
    list-style-type: circle;
    list-style-position: inside;
    font-size: 1em;
    font-family: 'Assistant', sans-serif;
    text-align: left;
    color: #22333b;
    line-height: 1.5;

}
.homefigure {
    display: none;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    padding: 1em 0 1em 1em;
}
.homefigure img {
    margin: 0 1em 0 0;
    width: 30%;
    box-shadow: 0 0 10px #0a0908;
}
/**Temple page**/
.templemain {
    text-align: center;
}

section p {
    display: block;
    padding: .25em .5em 0;
    margin: auto;
    text-align: center;
    font-family: serif;
    font-size: 1.25em;
    width: 100%;
    max-width: 600px;
    font-weight: bold;
    color: #131c20;
    font-family: 'Cormorant Upright', serif;
}

section ul {
    padding: 0 .5em .25em;
    margin: auto;
    text-align: center;
    font-family: serif;
    font-size: 1.25em;
    width: 100%;
    max-width: 600px;
    list-style-type: circle;
    list-style-position: inside;
    color: #131c20;
    font-family: 'Assistant', sans-serif;
}

section {
    display: inline-block;
    text-align: center;
    font-family: 'Assistant', sans-serif;

    margin: 0 auto 1em;


}

section li {
    display: block;
    margin: auto;
    line-height: 1.25;
    list-style-type: circle;
    list-style-position: inside;
    width: 100%;
    max-width: 600px;
    color: #131c20;
    font-family: 'Assistant', sans-serif;
}

section img {
    display: block;
    margin: auto;
    padding: 1em .5em 0;
    width: 100%;
    max-width: 600px;

}

section>div {

    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 1em;
    width: 100%;
    font-family: 'Assistant', sans-serif;

}



.slidebtn {
    display: inline-block;
    padding: .5em;
    background-color: #22333b;
    color: #fff;
    font-family: 'Assistant', sans-serif;
    margin: 1em;


}

.prevbtn {
    float: left;
}

.nextbtn {
    float: right;
}

/*Services Page*/
.services {
    display: inline-block;
    width: 100%;
}

.servicedesc {
    width: 100%;
}

.servicedesc p {
    text-align: justify;
    margin: 0 1em;

}

.serviceimg {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.servamdiv {
    width: 100%;
}

.amdiv {
    
    padding: 0 1em;
    border-right: 1px solid #22333b;
    margin: 1em .5em 0 0;

}

.servdiv {
   
    margin: 1em 0 0 .5em;
}

.servdiv ul,
.amdiv ul {
    width: 100%;
}

.servdiv ul li,
.amdiv ul li {
    list-style-type: circle;
    list-style-position: inside;
}

.serviceimg {
    display: inline-block;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.recpic,
.misspic {
    display: inline-block;
    padding: 1em;
    width: 100%;

}

.recpic img,
.misspic img {
    width: 85%;
    box-shadow: 0 0 5px #0a0908;
}

/*Map and Directions*/
aside {

    width: 100%;
    background-color: #c6ac8f;
    border: 1px solid #eae0d5;
    color: #22333b;
    font-size: .8em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 1em;
}

aside div {
    margin-bottom: 1em;
}

.asideaddressdiv {
    display: none;
    margin-right: .5em;
    align-self: center;
}

.directions {
    margin-left: .5em;
    align-self: center;
}

iframe {
    padding: 2em;
    width: 100%;
    max-width: 300;
    max-height: 200;
    border: none;

}

/*Reservations Page*/
.formdiv {
    text-align: center;
}

form {
    display: inline-block;
    margin: auto;
}

fieldset {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

}

form label.top {
    display: block;
    padding-top: 1rem;
    color: #22333b;
    font-size: .8rem;
    font-family: 'Assistant', sans-serif;
    font-size: 1rem;
    margin: .5em;
    font-weight: bold;
}

form label.top input,
form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid #22333b;
    padding: .5rem;
    color: #22333b;
    width: 100%;
    max-width: 20rem;
    background-color: #fff;
    margin: .25em;
    line-height: 1.5em;
}

form label.top textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid #22333b;
    padding: .75rem;
    color: #22333b;
    width: 100%;
    max-width: 20rem;
    max-height: 40rem;
    background-color: #fff;
    margin: .25em;
    line-height: 1.5em;
}

.formdiv textarea {
    height: 150px;
}

form label.side {
    display: block;
    padding: .75rem 0;
    color: #22333b;

    font-family: 'Assistant', sans-serif;
    font-size: 1rem;
    margin: .5em;
    font-weight: bold;
}

form label.side input,
form label.side select {
    line-height: 2.5em;
    padding-left: 2.5%;
    border: 1px solid black;
    background-color: #fff;
    color: #22333b;
    max-width: 20rem;
    width: 100%;
}

form label.side select {
    height: 44px;
}

.formdiv .submit {
    display: inline-block;
    padding: .5em;
    background-color: #22333b;
    color: #eae0d5;
    font-family: 'Assistant', sans-serif;
    margin: 1em;
    width: 100%;
    max-width: 300px;
    border-radius: 1rem;
}

.resdiv {
    float: right;
    display: none;
    margin: 1em;
    width: 50%;
}

.resdiv img {
    width: 100%;
    max-width: 400px;
    margin-right: 1em;
}


/*Receptions Page*/
.recbanner {
    width: 90%;
}

#reception {
    display: inline-block;
    text-align: center;
    width: 100%;
}

#reception figure {
    width: 100%;
}

.rechero {
    display: none;
    width: 100%;
}

.rechero p {
    padding: 0 5% 0;
    text-align: justify;
}
.rechero ul {
    padding: 0 10% 0;
    margin-top: 1em;
}
.rechero ul li {
    list-style-type: circle;
    list-style-position: inside;
    text-align: left;
    margin-bottom: .5em;
}
.bold {
    font-weight: bold;
    font-family: 'Cormorant Upright', serif;
    font-size: 1.15em;
}
.recpkgdiv {
    width: 100%;
    display: inline-block;
}

.pkgdiv {
    width: 60%;
    display: inline-block;
    padding: 1em;
    text-align: center;
    box-shadow: 0 0 5px #0a0908;
    margin: 1em;
}

.pkgdiv img {
    width: 100%;
    max-width: 200px;
    border: 1px solid #22333b;
}

.pkgdiv p {
    max-width: 200px;
    width: 100%;
    margin-top: 1em;
    text-align: justify;
}

.recaction {
    display: inline-block;
    border-top: 1px solid #22333b;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}

.recform {
    width: 100%;
    display: inline-block;
}

.recform fieldset {
    display: inline-block;
    width: 90%;
}

.recaction input {
    max-width: 15em;
}

.flexrecimg {
    display: none;
    align-items: center;
    margin-right: 1em;
}
.flexrecimg p {
    width: 100%;
}

.recaction img {
    display: none;
    margin: auto;
}

.recaction form {
    display: block;
}

.recaction textarea {
    min-width: 300px;
    min-height: 150px;
    width: 100%;
}

.recform .submit {
    display: inline-block;
    padding: .5em;
    background-color: #22333b;
    color: #eae0d5;
    font-family: 'Assistant', sans-serif;
    margin: 1em;
    max-width: 260px;
    border-radius: 1rem;
}

.recaction input {
    padding: .5em;
    width: 100%;

}

.recaction fieldset {
    width: 80%;

}

.recaction legend {
    padding-top: 0;
}

/*Full-Time Missionary Page*/
.missroompics {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.missroompics img {
    padding: 1em;
    width: 100%;

}

.amenitydiv p {
    margin: 0 1em;
    text-align: justify;
}

/*Full Time Mission Page*/
.ftmisspara {
    grid-row-start: 3;
    grid-row-end: 4;
    margin: .5em auto;
    display: block;
    width: 100%;
    max-width:400px;
}

.ftmisspara p {
    display: none;
    width: 100%;
    margin: auto;
    padding: 0 1em .5em;
}

.missreqinfo { 
    min-width: 250px;
    max-width: 400px;
    margin: 0 auto 1em 1em;
    display: inline-block;
    grid-row-start: 1;
    grid-row-end: 2;
}
.missreqinfo fieldset {
    border: 1px solid #22333b;
    border-radius: 10px;
    padding-bottom: 0;
    width:100%;

}

.missimgdiv {
    grid-row-start: 2;
    grid-row-end: 3;
    display: inline-block;
    margin: .5em auto;
    width: 100%;
    display: block;
    padding: 0 1em .5em;

}

.missimgdiv img {
    max-width: 350px;
    width: 100%;
    box-shadow: 0 0 5px #0a0908;
    display: block;
    margin: 0 auto 1em;

}

.missimgdiv figure {
    width: 100%;
}

.mainmissdiv {
    align-items: center;
    background-color: #eae0d5;
    color: #22333b;
    font-size: 1em;
  
    display: grid;
    width: 100%;
    grid-template-rows: repeat(auto 1fr);
    grid-template-columns: auto;
    padding: 0 1em;
}

/*Contact Us Page*/
.contactdiv {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.contactdiv iframe {
    width: 100%;
    min-height: 300px;
    margin: 0;
}

.contaddy {
    color: #22333b;
    margin-bottom: 1em;
    text-align: center;
}

.contactform {
    margin: 1em;
}

.contactdiv .submit {
    display: block;
    width: 100%;
    border: none;
    background-color: #22333b;
    color: #eae0d5;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 auto 1em;
    max-width: 12em;
    border-style: outset;
}

/*Footer*/
footer {
    background-color: #5e503f;
    color: #eae0d5;
    margin: 0 auto 1em auto;
    width: 100%;
    font-size: .75em;
}


footer p {
    padding: .5rem;
    text-align: center;
    line-height: 1.5;
}

footer a {
    color: #eae0d5;
}

footer a:visited {
    color: #eae0d5;
}

@media screen and (max-width: 556px) {
    .pkgdiv {
        width: 80%
    }

    .ftmisspara {
        grid-row-start: 3;
        grid-row-end: 4;
        margin: .5em auto;
        display: block;
        width: 100%;
    }

    .ftmisspara p {
        display: none;
        width: 100%;
        margin: auto;
        padding: 0 1em .5em;
    }

    .missreqinfo {
        border: 1px solid #22333b;
        border-radius: 10px;
        min-width: 250px;
        max-width: 400px;
        margin: 0 auto 1em;
        display: inline-block;
        border-collapse: collapse;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .missreqinfo fieldset {
        border: none;
        padding-bottom: 0;
    }

    .missimgdiv {
        grid-row-start: 2;
        grid-row-end: 3;
        display: inline-block;
        margin: .5em auto;
        width: 100%;
        display: block;
        padding: 0 1em .5em;

    }

    .missimgdiv img {
        max-width: 350px;
        width: 100%;
        box-shadow: 0 0 5px #0a0908;
        display: block;
        margin: 0 auto 1em;

    }

    .missimgdiv figure {
        width: 100%;
    }

    .mainmissdiv {
        align-items: center;
        background-color: #eae0d5;
        color: #22333b;
        font-size: 1em;
        display: grid;
        width: 100%;
        grid-template-rows: repeat(auto 1fr);
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 482px) {
    .address ul {
        display: none
    }

    .address {
        text-align: center;
    }

    .headerbox2 {
        text-align: left;
        margin: 0 .5em;
    }

}

@media screen and (max-width: 350px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.5em;
    }

    fieldset legend {
        font-size: 1.25em;
    }

    form label {
        font-size: .8em;
    }

    .pkgdiv {
        width: 90%;
    }

}