* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 2em;
    font-family: 'Courier New', Courier, Arial, Helvetica, Georgia, 'Times New Roman', Times, serif;
    color: darkslategray;
    text-align: left;
}

h1 {
    font-size: 2em;
    color: darkred;
    line-height: .75em;
    text-align: left;
}

h2 {
    font-size: 2em;
    text-align: left;
    border-bottom: 1px solid rgb(19, 3, 75);
}

header, main, footer {
    margin: 1.25rem auto;
    padding: 1rem;
    max-width: 500px;
}

header {
    background-color: lightslategray;
    color: darkred;
}
header img {
    float: right;
    }
footer, footer a {
    text-align: center;
    background-color: lightslategray;
    color: white;
}

footer {
    font-size: 11px;
}