body {
    background-color:rgb(175,202,196);
    font-family: 'Montserrat', sans-serif;
}

header {
    margin: auto auto;
    padding: 0;
	background-color: rgb(58,87,80);
	border: 1px solid #bbb;
	box-shadow: 0 0 30px #777;
    text-align: center;
    color: #fff;
    font-size: 2em;
    }

header img, .headings {
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}
h1
{
    font-family: 'Playfair Display', serif;
    color: #fff; 
    margin: 10px;  
}
h3, h4
{ 
    font-family: 'Playfair Display', serif;
    color: rgb(58,87,80);
    margin: 10px;
}
h2
{
    background-color: rgb(58,87,80);
    color: #fff;
    text-align: center;
    font-size: 2em;
}
.author
{
    margin: 10px;
    font-size: .75rem;
}
article p
{ 
    margin: 30px 40px;
    text-align: justify;
}
nav
{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
nav li {
	display: block;
}
ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav li a
{
    display: block;
    text-decoration: none;
}
.active 
{
    background-color: rgb(126, 173, 162);
    color: #fff;
}
.inactive
{
    color: rgb(58,87,80);
}
picture img
{
    width: 100%;
}
aside p
{
    margin: 0;
}
footer
{
    background-color: rgb(192,186,186);
    color: #000;
    margin: 10px auto;
}
footer p
{
    padding: .5rem;
}