@media screen and (min-width: 450px) and (max-width: 566px) {
    .galbox {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }
    .galbox figure {
        padding: .5em;
    }
    .summary {
        font-size: .75em;
        text-align: center;
    }
    .contactinfo {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;        
    }
    
    .contacttext {
        padding: 2%;
        margin-right: 2.5%;
    }
    .contactpicture {
        margin-left: 2.5%;
    }
    
}