@media screen and (min-width: 560px) {
.article .articlepicture {
    width: 50%;
    height: auto;
}
nav {
    margin: 1em;
    font-size: .6em;
    border: 1px #536B78 solid;
    
}
nav ul {
    width: 100%;
    display: inline;
  
}
nav li a {
    display: inline-block;
    margin: 0;
    background-color: #CEE5F2;
}
nav li {
    display: inline-block;
    margin: 0;
    background-color: #CEE5F2;
}

.active {
    color: #F6FAFC;
    background-color: #536B78;
}
.inactive {
    background-color: #CEE5F2;
    color: #536B78;
}
}