/*****Generic Classes*****/

body {
    background-color:rgb(175,202,196);
    font-family: 'Montserrat', sans-serif;
}
h1
{
    font-family: 'Playfair Display', serif;
    color: #fff; 
    margin: 10px 0;  
}
h3, h4
{ 
    font-family: 'Playfair Display', serif;
    width: 100%;
}
h3
{
     margin: 30px;
}
h2
{
    background-color: rgb(58,87,80);
    color: #fff;
    text-align: center;
    font-size: 2em;
}
h4
{
    font-size: 1em;
    color: rgb(49, 49, 49);
}
h3
{
    color: rgb(58,87,80);
}
/*****Header*****/
header {
    margin: auto auto;
    padding: 0;
	background-color: rgb(58,87,80);
	border: 1px solid #bbb;
	box-shadow: 0 0 30px rgb(49, 49, 49);
    text-align: center;
    color: #fff;
    font-size: 2em;
    }
header p
{
    font-size: .65em;
    margin: 0;
}

header img, .headings {
	display: inline-block;
	vertical-align: middle;
    margin: 10px;
}
/*****Nav Menu*****/
nav
{
    margin: 15px auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
nav li {
    display: block;
}
ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav li a
{
    display: block;
    text-decoration: none;
}
.active 
{
    background-color: rgb(126, 173, 162);
    color: #fff;
}
.inactive
{
    color: rgb(58,87,80);
}
/*****Hero Content*****/
.container
{
    margin: 30px auto;
    width: 100%;
    display: inline-flex;
    align-content: flex-start;
}
.images, .summary
{
    vertical-align: middle;
}

.summary
{
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    margin-right: 30px;
    
    
}
.images
{
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 10px;
    width: 40%
}
.weather img
{
    display: block;
    width: 100%;
    margin-top: 10px;
}
.video{
    width: 100%;
    margin-top: 10px;
}

/*****Article content*****/
div.author
{
    margin: 0 30px 10px; /*top&bottom margin isn't working. why not?*/
    font-size: .75rem;
}
article p
{ 
    margin: 30px;
    text-align: justify;
}
picture img
{
    margin: 30px;
}
/*****Aside*****/
aside p
{
    margin: 0 30px;
}
.contact
{
    margin: 30px;
}
/*****Footer*****/
footer
{
    background-color: rgb(192,186,186);
    color: #000;
    margin: 30px auto;
}
footer p
{
    padding: .5rem;
    margin: auto 30px;
}
