/*****Generic Classes*****/
*{
    margin:0 auto;
}
body {
    background-color:rgb(175,202,196);
    font-family: 'Montserrat', sans-serif;
}
h1
{
    font-family: 'Playfair Display', serif;
    color: #fff; 
}
h3, h4
{ 
    font-family: 'Playfair Display', serif;
    width: 100%;
}

h2
{
    background-color: rgb(58,87,80);
    color: #fff;
    text-align: center;
    font-size: 2em;
}
h4
{
    font-size: 1em;
    color: rgb(49, 49, 49);
}
h3
{
    color: rgb(58,87,80);
}
/*****Header*****/
header {
    margin: auto;
    padding: 0;
	background-color: rgb(58,87,80);
	border: 1px solid #bbb;
	box-shadow: 0 0 2em rgb(49, 49, 49);
    text-align: center;
    color: #fff;
    font-size: 2em;
    }
header p
{
    font-size: .65em;
}

header img, .headings {
	display: inline-block;
	vertical-align: middle;
}
/*****Nav Menu*****/
nav
{
    margin: 1.5em auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
nav li {
    display: block;
}
ul
{
    list-style-type: none;
    padding: 0;

}
nav li a
{
    display: block;
    text-decoration: none;
}
.active 
{
    background-color: rgb(126, 173, 162);
    color: #fff;
}
.inactive
{
    color: rgb(58,87,80);
}
/*****Hero Content*****/
.container
{
    width: 100%;
    display: block;
}
.images, .summary
{
    vertical-align: middle;
}

.summary
{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    
}
.images
{
    margin-top: 1em;
    width: 100%
}
.weather img
{
    display: block;
    width: 100%;
    margin-top: 1em;
}
.video{
    width: 100%;
    margin-top: 1em;
}

/*****Article content*****/
div.author
{
    margin: 1em; /*top&bottom margin isn't working. why not?*/
    font-size: .75rem;
}
article p
{ 
    text-align: justify;
}
picture img
{
    margin-top: 1em;
}
/*****Aside*****/
aside p
{
    margin-top: 1em;
}
.contact
{
    margin-top:1em;
}
/*****Footer*****/
footer
{
    background-color: rgb(192,186,186);
    color: #000;
    margin-top: 1em;
}
footer p
{
    padding: .5rem;
    margin: auto 3em;
}
