@media screen and (min-width: 450px) and (max-width: 566px) {
    .galbox {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        background-color: rgb(209, 80, 6);
        box-shadow: 0 0 50px rgb(35, 43, 51);
        padding: 2em;
    }
    .galbox figure {
        padding: .5em;
    }
    .summary {
        font-size: .75em;
        text-align: center;
    }
    .contactinfo {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;        
    }
    
    .contacttext {
        padding: 2%;
        margin-right: 2.5%;
    }
    .contactpicture {
        margin-left: 2.5%;
    }
    
    div.hometitlediv div {
        display: inline;}
    .bigatmos {
        display: inline;
    }
}