/*****Generic Classes*****/
/* Color Scheme: https://coolors.co/cee5f2-accbe1-7c98b3-637081-536b78*/
* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

body {
    background-color: #CEE5F2;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 0 auto;

}

header,
footer,
aside {
    width: 100%;
    margin: 0 auto;
}

nav,
main {
    max-width: 950px;
    margin: 0 auto;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: #CEE5F2;
    font-size: 2rem;
    line-height: 1.5;
    margin: .35em 0;
    font-variant: small-caps;
}

h3,
h4 {
    font-family: 'Playfair Display', serif;
    color: rgb(15, 32, 68);
    margin: 1em;
    line-height: 1.5;
}

h2 {
    color: rgb(15, 32, 68);
    text-align: center;
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: .5em;
    line-height: 1.5;
}

/*****Header*****/
header {

    width: 100%;
    background-color: rgb(15, 32, 68);
    border: 1px solid #ACCBE1;
    color: #CEE5F2;
    font-size: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;


}

.headerbox1 {
    margin-right: .5em;
    align-self: center;


}

.headerbox2 {
    margin-left: .5em;
    align-self: center;
}

.hamburger {
    color: #536B78;
}

.motto {
    font-size: 1em;
    color: rgb(241, 243, 101);
    margin-bottom: 2em;

}

/*****Nav Menu*****/
nav {
    text-align: center;
    font-weight: bold;
    border: none !important;
}

.navigation {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

}

.navigation li:first-child {
    display: inline-block;

}

.navigation li {
    display: none;
}

.navigation a {
    display: flex;
    color: rgb(27, 53, 65);
    padding: .75rem;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    height: 100%;
    align-items: center;

}

.navigation a:hover {
    color: rgb(62, 71, 85);
    background-color: rgb(241, 243, 101);
    font-weight: 700;
}

.responsive li {
    display: block;
}

.navigation li a.active {
    background-color: rgb(15, 32, 68);
    color: rgb(241, 243, 101);
    font-weight: normal;
}

/*****main content*****/

.hero {
    position: relative;
    margin: 1.25em 1.25em 1em 7%;
    padding: 0;
    display: block;
}

.heropicture img {
    max-width: 800px;


}

.herolist {
    font-size: 1em;

}

.summary {
    position: absolute;
    top: 2em;
    left: 1.2em;
    background-color: rgb(209, 80, 6, .9);
    opacity: .90;
    padding: 1em;
    line-height: 1.5;
    font-size: .70em;
    text-align: center;
    border: 5px groove rgb(15, 32, 68);

}

.summary h4 {
    font-size: 1em;
    border-bottom: 1px solid rgb(15, 32, 68);
}

.summary li {
    color: rgb(15, 32, 68);
    font-weight: bold;
}

/*Forecast Table*/

.flex {
    display: none;
    flex-direction: row;
    height: 150px;
    width: 567px;

}

.col1,
.col2,
.col3,
.col4,
.col5,
.col6 {
    flex: 1 1 100%;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    background-color: #fff;
    font-size: 10px;
    text-align: center;
    width: 20%;
}

.flex div:last-child {
    border-right: 1px solid #333;
}

.label {
    display: block;
    padding: 5px;
    font-weight: 700;
    font-size: larger;
    border-bottom: 1px solid #333;
    background-color: #eee;
}


.fleximg {
    padding: 5px;
    width: 85px;
    height: auto;
}

.data {
    display: block;
    margin: 1em;
    font-size: .75rem;

}

/*article */
.article {

    background-color: rgb(219, 228, 235);
    border: 1px #637081 solid;
    color: black;
    width: 95%;
    display: block;
    box-shadow: 0 0 30px #7C98B3;
    margin-top: 1em;
}

article .article {
    margin-top: 5em;
}

.articlepicture {
    width: 50%;
    display: block;
    box-shadow: 0 0 30px #7C98B3;
    margin-top: 1em;
}

.author {
    margin: 1.5em;
    font-size: .75rem;
    font-weight: bold;
    color: rgb(15, 32, 68);
}

article p {
    margin: 2em 3em;
    text-align: justify;
    line-height: 2em;
    color: rgb(15, 32, 68);
}

picture img {
    width: 100%;
}

/*****Aside*****/
.contactinfo {
    margin: 5% auto 0;
    padding-bottom: .5em;
    padding-top: .5em;
    background-color: rgb(137, 178, 206);
    text-align: center;
    color: rgb(3, 20, 31);
    ;
    line-height: 1.5;
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-weight: bold;
    font-size: .95em;


}

.contactinfo a {
    color: rgb(37, 3, 68);
    height: 100em;
}

.contactinfo a:visited {
    color: rgb(37, 3, 68);
}

.contactheader {
    color: rgb(3, 20, 31);
    letter-spacing: .25rem;
    border-bottom: 1px solid rgb(3, 20, 31);
}

.contactimg {
    width: 100%;
    display: block;
    padding: 5%;
}

.contactpicture {
    padding: 5%;
}

/*****Form*****/
form fieldset {
    margin: 1em 2%;
    border: 1px solid rgb(25, 59, 121);
    border-radius: 10px;
    border-style: inset;
    padding: .5rem 2%;
    background-color: #fff;
}


form legend {
    margin: 0 2rem;
    padding: 1rem 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgb(209, 80, 6);
    color: rgb(11, 22, 48);
    border-radius: 30px;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: rgb(15, 32, 68);
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin: .5em;
    font-weight: bold;
}

form label.top input,
form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid #999;
    padding: .75rem;
    color: rgb(15, 32, 68);
    width: 100%;
    max-width: 20rem;
    background-color: rgb(192, 219, 245);
    margin: .25em;
    line-height: 2.5em;
}

form label.side {
    display: block;
    padding: .75rem 0;
    color: rgb(15, 32, 68);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin: .5em;
    font-weight: bold;
}

form label.side input,
form label.side select {
    line-height: 2.5em;
    padding-left: 2.5%;
}

form label.check {
    -webkit-appearance: none;
    display: block;
    color: rgb(15, 32, 68);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin: .25em;
    font-weight: bold;
}

input[type=radio] {
    width: 5%;
    height: 1.5em;
    vertical-align: bottom;
}

input[type=range] {
    height: 34px;
    -webkit-appearance: none;
    background-color: #CEE5F2;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgb(15, 32, 68);
    background: #74A9D8;
    border-radius: 1px;
    border: 0px solid rgb(15, 32, 68);
    ;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px rgb(15, 32, 68);
    ;
    border: 1px solid rgb(15, 32, 68);
    ;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #74A9D8;
}

form span {
    margin-left: 1em;
    font-weight: bold;
}

form div textarea.textarea {
    padding: 2.5%;
    width: 20em;
    height: 12em;
}

form>input.submit {
    border: none;
    background-color: rgb(11, 22, 48);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 45rem;
    font-size: 1.5em;
    font-weight: bolder;
    width: 12em;
    border-style: outset;
}

form label.top input:required {
    border: red solid 2px;
}

form label.top input:required:valid {
    border: none;
}


/**Home Page**/
.maindiv {
    display: grid;
    width: 95%;
    min-width: 190px;
    margin-top: 1em;
    padding: 2em;
    grid-gap: 1em;

}

.towndiv {
    width: 100%;
    padding: 5%;
    margin: 0 auto;
    max-width: 338px;
    display: grid;
    background-color: rgb(65, 69, 80);
    border: 1px #637081 solid;
    color: black;
    box-shadow: 0 0 50px rgb(35, 43, 51);

}

.towninfodiv {
    width: 100%;
    padding: 5% 5% 0 5%;
    margin: 0;
    background-color: rgb(219, 228, 235);
    line-height: 2;
}

.townul {
    width: 100%;
    margin: 0;
    padding: 1em;
}

.townil {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.townimg {
    width: 100%;
    height: auto;
}

.towndiv h3,
.towndiv h4 {
    font-size: 1rem;
    text-align: center;
    margin: 2% 0 0 0;
}

.towndiv h3 {
    color: rgb(209, 80, 6);
    letter-spacing: 1.9px;
}

.hometitlediv {
    width: 100%;
    padding: 0 10%;
}
div.hometitlediv div{
    display: none;
}
div.hometitlediv p {
    padding: .5em 2em;
    text-align: justify;
    
}

.atmos {
    background-color: rgb(209, 80, 6);
    padding: 1px 5px;
    font-variant: small-caps;
}

.hometitlediv h2 {
    font-size: 1em;
}
.bigatmos {
    display: none;
}

/*****Footer*****/
footer {
    background-color: rgb(15, 32, 68);
    color: #CEE5F2;
    margin: 0 auto 1em auto;
    width: 100%;
    font-size: .75em;
}


footer p {
    padding: .5rem;
    text-align: center;
    line-height: 1.5;
}

footer a {
    color: rgb(241, 243, 101);
}

footer a:visited {
    color: rgb(241, 243, 101);
}

.galbox {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr;
    margin: 2em;
    
}

.galbox figure {
    padding: .25em;
    border: 1px rgb(15, 32, 68) solid;
    background-color: #fff;
    
}

.galbox img {
    width: 100%;
}

.galbox figcaption {
    padding-top: 1em;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
    text-align: center;
    vertical-align: bottom;
}


a:hover {
    color: #fff;
    background-color: #7C98B3;
    font-weight: 700;
}

@media screen and (min-width: 278px) and (max-width: 565px) {


    .menu {
        list-style: none;
        text-align: center;
    }

    .menu li:first-child {
        display: block;
    }

    .menu li {
        display: none;
    }

    .menu a {
        display: block;
        color: #637081;
        padding: .75rem;
        text-align: center;
        text-decoration: none;
    }
    div.hometitlediv div {
        display: none;
    }
    
}

@media screen and (min-width: 278px) and (max-width: 819px) {
    
    .maindiv {
        padding: 0;
    }
    /*.towndiv {
        grid-template-columns: repeat (2, 1fr 1fr);
        max-width: 450px;
        margin: 0 auto;
    
    }

    .towninfodiv {
        grid-column-start: 1;
        grid-column-end: 2;
        margin-right: 0;
        width: 100%;;
    }

    .townpicdiv {
        grid-column-start: 2;
        grid-column-end:3;
        margin-left: 0;
        width: 100%;
    }
    .townli {
        font-size: .75em;
    }

    .towninfodiv h3, .towninfodiv h4{
        font-size: 1em;
        line-height: 1;
    }
    .townimg {
        max-height: 200px;
        width: auto;
    }*/
   .hometitlediv h2 {
        font-size: 1em;
    }
    .bigatmos {
        display: none;
    }
    
}